body{
    background-color: #ECEDF3;
    padding: 5%;
  }
  
  .form1 {margin: 0px auto;
      width:  40%;
      padding:5% 10%;
      line-height: 20px;
      background-color: #FFFFff;
  }
  
  .heading {
    
    border-bottom: #0000;
  }

  button{
    margin:0px 10px
      }

.div-navs{
  margin-bottom: 40px;
}