body{
    background-color: #ECEDF3;
    padding-left: 15%;
    padding-top: 5%;
  }
  
  .form1 {
      width:  40%;
      padding-top: 5%;
      padding-bottom: 5%;
      padding-left:10%;
      padding-right: 20%;
      line-height: 20px;
      background-color: #FFFFff;
  }
  
  .heading {
    
    border-bottom: #0000;
  }

  button{
    margin:0px 10px
      }

.div-navs{
  margin-bottom: 40px;
}